/* styles.css */

/* Root Variables */
:root {
  --primary-color: rgb(0, 123, 255);
  --secondary-color: rgb(52, 58, 64);
  --text-color: rgb(102, 102, 102);
  --background-color: rgb(244, 244, 249);
  --shadow-color: rgba(0, 0, 0, 0.1); 
  --shadow-color-hover: rgba(0, 0, 0, 0.2); 
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}

/* Body Styles */
.card {
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Card Styles */
.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
  
.card-text {
  color: var(--text-color);
  line-height: 1.6;
}

/* Effects for Cards */
article .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--shadow-color-hover);
}

/* Back to Top Button */
.backToTop {
  display:none;
  bottom: 20px; 
  right: 20px;
  border-radius: 50%;
  font-size: 1.5rem;
  opacity: 0.7;
}


/* Styles for Screens Smaller than 992px */
@media (max-width: 992px) {
  .custom-flex-end-column {
      display: flex;         
      flex-direction: column; 
      align-items: flex-end; 
  }
  .lower-text {
    font-size: 0.8rem;
  }
}

/* Styles for Screens Smaller than 768px */
@media (max-width: 768px) {
  aside {
    padding-top: 5rem; 
  }
  .lower-text {
    font-size: 1rem;
  }
}